html, body {
    height: 100%;
}

body {
    color: white;
    background-image : url("Contenu/images/fond.jpg");
    background-size: cover;
    
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}
td:hover {
    background-color:greenyellow;
}

h1 {
    color: white;
}

.titreBillet {
    margin-bottom : 0px;
}

#global {
    
    min-height: 100%;  /* 100% de la hauteur du view-port*/
    background: silver;
    width: 75%;
    margin: auto;	/* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
}

#contenu {
    margin-bottom : 30px;
}

#titreBlog, footer {
    text-align: center;
}

#titreReponses {
    font-size : 100%;
}

#txtCommentaire {
    width: 50%;
}